{% extends "base.html" %}
{% block title %}{{ image.NAME }}{% endblock %}
{% block javascript %}<script src="{{ url_for('static', filename='javascript/artpage.js') }}"></script>{% endblock %}
{% block content %}
<div class="carousel-container carousel-button-back">
  <a href="{{ url_for('image_page', image_id=image.back.id + '.html') }}" class="carousel-button">
    <span class="glyphicon glyphicon-triangle-left"></span>
    <span class="sr-only">Back</span>
  </a>
</div>
<div class="container-fluid">
  <div class="col-md-{{ 5 if image.ORIENTATION and image.ORIENTATION == 'portrait' else 7}} col-xs-10 col-xs-offset-1">
    {% if image.CONTENT_TYPE == 'video' %}
      {% if image.LINK %}
      <iframe width="800" height="450" src="{{ image.LINK }}" frameborder="0" class="img-portfolio" allowfullscreen></iframe>
      {% else %}
      {# if there is no youtube video link, use this #}
      <video src="{{ url_for('static', filename='images/portfolio/' + image.FILENAME) }}" class="img-portfolio artpage-video" type="video/mp4" autoplay>
        <img src="{{ url_for('static', filename='images/portfolio/' + image.FILENAME) }}" class="img-portfolio">
      </video>
      {% endif %}
    {% else %}
    <img src="{{ url_for('static', filename='images/portfolio/' + image.FILENAME) }}" class="img-portfolio">
    {% endif %}
  </div>
  <div class="col-xs-offset-1 col-md-offset-0"></div>
  <div class="col-md-{{ 5 if image.ORIENTATION and image.ORIENTATION == 'portrait' else 3 }} col-xs-10 col-xs-offset-1 col-md-offset-0">
    <h1 class="image_name">{{ image.NAME }}</h1>
    <p class="art-description">
    Medium: {{ image.MEDIUM }}
    </p>
    {% if image.DESCRIPTION %}
    <p class="art-description">
    {{ image.DESCRIPTION }}
    </p>
    {% endif %}
  </div>
</div>
<div class="carousel-container carousel-button-forward">
  <a href="{{ url_for('image_page', image_id=image.forward.id + '.html') }}" class="carousel-button">
    <span class="glyphicon glyphicon-triangle-right"></span>
    <span class="sr-only">Forward</span>
  </a>
</div>
{% endblock %}
