{% extends "base.html" %}
{% block title %}Gina's Portfolio{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Art Portfolio</h1>
    </div>
  </div>

  <div class="row">
  {% for category in ordering %}
    <div class="col-lg-3 col-md-3 col-xs-6 thumb">
      <h3 class="category-header">{{ categories[category].CATEGORY }}</h2>
      <a href="{{ url_for('category', category_name=categories[category].CATEGORY + '.html') }}" class="thumbnail">
        <img src="{{ url_for('static', filename='images/thumbnail/' + categories[category].FILENAME) }}" class="img-thumbnail">
      </a>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
