{% extends "base.html" %}
{% block title %}{{ image.NAME }}{% endblock %}
{% block content %}
<h1 class="header-text">{{ image.NAME }}</h1>
<div class="col-xs-8">
  <a href="{{ url_for('static', filename='images/portfolio/' + image.FILENAME) }}">
    <img src="{{ url_for('static', filename='images/portfolio/' + image.FILENAME) }}" class="img-portfolio">
  </a>
</div>
<div class="col-xs-4">
  <p class="art-description">
  Medium: {{ image.MEDIUM }}
  </p>
  {% if image.DESCRIPTION %}
  <p class="art-description">
  {{ image.DESCRIPTION }}
  </p>
  {% endif %}
</div>
{% endblock %}
